.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.action-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #fdb46a, #fff171);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 128, 0, 0.5);
}

.action-button:hover {
  background: linear-gradient(45deg, #ff8e8e, #fdb46a);
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.7);
}